body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

header {
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

.container-extra a:nth-child(1) {
  border: 2px solid blueviolet;
  color: blueviolet;

  padding: 5px 10px;
  border-radius: 25px;
  padding: 6px 26px;
} 

.container-extra a:nth-child(1):hover {
  background-color: blueviolet;
  color: white;
}

.container-extra a:nth-child(2n) {
  background-color: blueviolet;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  padding: 6px 26px;
}

.container-extra a:nth-child(2n):hover {
  border: 2px solid blueviolet;
  background-color: white;
  color: blueviolet;
}

/* HEADER */

header .container:nth-child(1) {
  margin: 0 auto;
  padding: 0 32px;
}

header .container:nth-child(2) {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

header .container a {
  color: black;
  font-size: 20px;
}

.logo img {
  max-height: 100px;
}

.mw-1250 {
  max-width: 1250px;  
}

.m-r-20 {
  margin: 0 20px 0 0 ;
}

.m-l-auto {
  margin-left: auto;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.position-relative {
  position: relative
}

.position-absolute {
  position: absolute
}

.position-fixed {
  position: fixed
}

.text-decoration-none {
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

header .container > a:hover{
  text-decoration: underline blueviolet 2px;
  color: blueviolet;
  text-underline-offset: 5px;
}

@media (max-width: 724px) {
  header .container:nth-child(2) {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    max-width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.menu-toggle span {
  background-color: #000000;
  height: 3px;
  width: 25px;
  display: block;
  margin: 5px;
}

header .container:nth-child(2).active {
  display: flex;
  flex-direction: column;
}

header .container:nth-child(2).active a {
  margin: 10px 0;
  left: 0;
}

header .container:nth-child(2).active .container-extra a {
  display: none;
}

header .container:nth-child(2).active img {
  display: none;
}
