/* ---------  MAIN ----------- */

main .section:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.pt-140 {
  padding-top: 140px
}

.pt-20 {
  padding-top: 20px
}

.pb-80 {
  padding-bottom: 80px;
}

.p-20-120 {
  padding: 20px 120px;
}

.h-500 {
  height: 525px;
  max-height: 525px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-10 {
  margin-top: 10px;
}

.text-align-justify {
  text-align: justify;
}

.text-align-center {
  text-align: center;
}

.fs-40 {
  font-size: 40px;
}

.fs-12 {
  font-size: 12px;
}

.mw-600 {
  max-width: 600px;
}

.mw-800 {
  max-width: 800px;
}

.mw-100p {
  max-width: 100%;
}

.h-auto {
  height: auto;
}

.animation-text {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animation-text.active {
  opacity: 1;
  transform: translateY(0);
}

.container {
  margin: 0 auto;
  padding: 0 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 20px; /* Aumente o espaço horizontal entre o texto e a imagem */
}

.text {
  order: 1; /* Define a ordem das colunas - texto à esquerda */
}

.image {
  order: 2;
}

.container-img {
  position: relative;
  max-width: 640px;
  bottom: 125px;
}


@media screen and (max-width: 748px) {
  .image,
  .extra-buttons a {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .image {
    display: none;
  }
}
