/* BODY */

body {
  margin: 0;
  font-family: sans-serif;
}

/* HEADER */

header {
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

.menu-toggle {
  display: none;
}

header .Navheader {
  margin: 0 auto;
  padding: 0 32px;
  
}

header .Navbar-area > a {
  color: black;
}

header .Navbar-area > a:hover {
  color: blueviolet;
  transition-duration: 1s;
}

header .Navbar-area > a:not(:hover) {
  transition-duration: 2s;
}

header .btn > a:nth-child(1) {
  border: 2px solid blueviolet;
  color: blueviolet;
  border-radius: 25px;
  padding: 5px 20px;
}

header .btn > a:nth-child(1):hover {
  background-color: blueviolet;
  color: white;
  transition-duration: 1s;
}

header .btn > a:nth-child(1):not(:hover) {
  transition-duration: 2s;
}

header .btn > a:nth-child(2) {
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: white;
  border-radius: 25px;
  padding: 5px 20px;
}

header .btn > a:nth-child(2):hover {
  background-color: white;
  color: blueviolet;
  transition: 1s;
}

header .btn > a:nth-child(2):not(:hover) {
  transition-duration: 2s;
}

header .Navbar-area.active {
  display: flex;
  flex-direction: column;
}

/* QUANDO O MENU ABRE, O LOGO DESAPARECE */
header .Navbar-area.active img {
  display: none;
}

.logo_media{
  display: none;
}

/* MAIN */

main .section:nth-child(2n) {
  background-color: #f0f0f0;
}

main .section .container {
  margin: 0 auto 100px;
  padding: 0 32px;
}

main .row {
  display: flex;
  flex-wrap: wrap;
}

/* WORK DYNAMICS */

.item_tit {
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
}

.item_txt p {
    opacity: .8;
}

.box-wk {
  padding: 20px;
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.box-wk:hover {
  background-color: darkviolet;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

/* FOOTER */

footer {
  background-color: black;
  padding: 20px 0;
}

footer p {
  color: white;
}

.socialIcons a {
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a:hover {
  background-color: black !important;
  transition-duration: 1s;
}

.socialIcons a:not(:hover) {
  transition-duration: 2s;
}

.socialIcons a i {
  font-size: 2em;
  color: #111;
  opacity: 0.9;
}

.socialIcons a:hover i {
  color: white !important;
  transition-duration: 1s;
}

.Navfooter ul {
  list-style-type: none;
  padding: 20px 0;
}

.Footerbar {
  padding: 0 10px;
}

/* MEDIA */

@media (max-width: 1000px) {
  header .Navbar-area {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin: 10px 0;
    
  }

  .menu-toggle button {
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
  }

  .logo_media{
    display: flex;
    float: right;
    position: absolute;
    top: -20px;
    right: 20px;
  }

  .menu-toggle button:hover {
    color: blueviolet;
    background-color: white;
    transition: 1s;
  }

  .btn {
    display: flex;
    flex-direction: row;
  }

  .btn a {
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .Navfooter ul {
    display: flex;
    flex-direction: column;
  }
  .Navfooter ul li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

/* HTML ELEMENTS CLASSES */

a > img {
  max-height: 100px;
}

div > a {
  font-size: 20px;
}

div > h3 {
  margin: 50px 0;
  font-size: 40px;
}

li > a {
  color: white;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;
}

li > a:hover {
  color: blueviolet;
  opacity: 1;
  transition-duration: 1s;
}

li > a:not(:hover) {
  transition-duration: 2s;
}

/* CLASSES */

.contactUs{
  color:blueviolet;
}

.position-fixed {
  position: fixed;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-align-justify {
  text-align: justify;
}

.display-flex {
  display: flex;
}

.max-width-1250 {
  max-width: 1250px;
}

.max-width-600 {
  max-width: 600px;
}

.height-550 {
  height: 550px;
}

.text-align-center {
  text-align: center;
}

.padding-140-80 {
  padding-top: 100px;
  padding-bottom: 120px;
}

.margin-top-10 {
  margin-top: 10px;
}