/* BODY */

body {
    margin: 0;
    font-family: sans-serif;
}

/* HEADER */

header {
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
}

.menu-toggle {
    display: none;
}

header .container:nth-child(1) {
    margin: 0 auto;
    padding: 0 32px;
}

header .container > a {
    color: black;
}

header .container > a:hover {
    color: blueviolet;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}

header .container-extra > a:nth-child(1) {
    border: 2px solid blueviolet;
    color: blueviolet;
  
    padding: 5px 10px;
    border-radius: 25px;
    padding: 6px 26px;
}

header .container-extra > a:nth-child(1):hover {
    background-color: blueviolet;
    color: white;
    transition: 0.5s;
}

header .container-extra > a:nth-child(2) {
    border: 2px solid blueviolet;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    padding: 6px 26px;
}

header .container-extra > a:nth-child(2):hover {
    background-color: white;
    color: blueviolet;
    transition: 0.5s;
}

header .container:nth-child(2).active {
    display: flex;
    flex-direction: column;
}

/* QUANDO O MENU ABRE, O LOGO DESAPARECE */
header .container:nth-child(2).active img {
    display: none;
}

/* QUANDO O MENU ABRE, OS BOTÕES DE LOGIN E REGISTER DESAPARECEM */

header .container .container.active > a {
    margin-bottom: 10px;
}

/* MAIN */

main .section:nth-child(2n) {
    background-color: #f0f0f0;
}

main .section .container {
    margin: 0 auto;
    padding: 0 32px;
}

main .row {
    display: flex;
    flex-wrap: wrap;
}

main .column {
    flex: 1;
    padding: 0 20px;
}

.height-auto > .container {
    position: relative;
    max-width: 100%;
    bottom: 125px;
}

/* .height-auto > img {
    display: none;
} */

/* FOOTER */

footer {
    background-color: black;
    padding: 10px 0;
}

footer p {
    color: white;
}

.socialIcons a {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a:hover {
    background-color: black!important;
    transition-duration: 1s;
}

.socialIcons a i {
    font-size: 2em;
    color: #111;
    opacity: 0.9;
}

.socialIcons a:hover i {
    color: white!important;
    transition-duration: 1s;
}

.footerNav ul {
    list-style-type: none;
    padding: 20px 0;
}

.footerBottom {
    padding: 0 10px;
}

/* MEDIA */

@media (max-width: 950px) {
    header .container:nth-child(2) {
        display: none;
    }
  
    .menu-toggle {
        display: block;
        margin: 10px 0;
    }

    .menu-toggle button {
        color: white; 
        background-color: blueviolet; 
        border-radius: 5px;
        border: none;
    }

    .menu-toggle button:hover {
        color: blueviolet;
        background-color: white;
        transition: 1s;
    }
    
    .container-extra {
        display: flex;
        flex-direction: row;
    }
    
    .container-extra a {
        display: flex;
        margin: 10px 15px;
        flex-direction: column;
        align-items: center;
    }  
}

/* @media (max-width: 300px) {
    section {
      height: 700px;
    }
  
    main .column.text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    main .column.image {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    main .column.image img {
      max-width: 100%;
      height: auto;
    }
} */

@media (max-width: 700px){
    .footerNav ul{
        display: flex;
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}

/* HTML ELEMENTS CLASSES */

a > img {
    max-height: 100px;
}

div > a {
    font-size: 20px;
}

div > h3 {
    font-size: 40px;
}

li > a {
    color: white;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
}

li > a:hover {
    color: blueviolet;
    opacity: 1;
    transition-duration: 1s;
}

/* CLASSES */

.position-fixed {
    position: fixed;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-justify {
    text-align: justify;
}

.display-flex {
    display: flex;
}

.max-width-1250 {
    max-width: 1250px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-100 {
    max-width: 100%;
}

.height-550 {
    height: 550px;
}

.height-auto {
    height: auto;
}

.text-align-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.text-decoration-none {
    text-decoration: none;
}

.padding-140-80 {
    padding-top: 140px;
    padding-bottom: 80px;
}

.margin-top-10 {
    margin-top: 10px;
}