.navBar img {
    max-width: 100px;
}

.sidebar {
    top: 5.5rem;
    left: -50%;
    transition: left 0.3s ease;
    overflow-x: hidden;
}

.sidebar.active {
    left: 0;
    z-index: 999;
}

.sidebar a:hover {
    color: blueviolet!important;
    transition-duration: 1s;
}

.sidebar a:not(:hover) {
    transition-duration: 2s;
}

@media (max-width: 1000px) {
    .sidebar {
        width: 50%!important;
    }
}