body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

header {
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

header .container:nth-child(1) {
  margin: 0 auto;
  padding: 0 32px;
}

header .container:nth-child(2) {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

header .container a {
  color: #111;
  font-size: 20px;
}

/* generalized css class */

.logo img {
  max-height: 100px;
}

.mw-1250 {
  max-width: 1250px;  
}

.m-r-20 {
  margin: 0 20px 0 0 ;
}

.m-l-auto {
  margin-left: auto;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.position-relative {
  position: relative
}

.position-absolute {
  position: absolute
}

.position-fixed {
  position: fixed
}

.text-decoration-none {
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

@media (max-width: 724px) {
  header .container:nth-child(2) {
    display: none;
  }

  .menu-toggle {
    display: block;
    border: 2px solid blueviolet;
    padding-right: 5px;
    cursor: pointer;
    max-width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.menu-toggle span {
  background-color: #000000;
  height: 3px;
  width: 25px;
  display: block;
  margin: 5px;
}

/* ANCHORS  */

.container-extra a:nth-child(1) {
  border: 2px solid blueviolet;
  color: blueviolet;

  padding: 5px 10px;
  border-radius: 25px;
  padding: 6px 26px;
} 

.container-extra a:nth-child(1):hover {
  background-color: blueviolet;
  color: white;
}

.container-extra a:nth-child(2n) {
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  padding: 6px 26px;
}

.container-extra a:nth-child(2n):hover {
  background-color: white;
  color: blueviolet;
}

header .container:nth-child(2).active {
  display: flex;
  flex-direction: column;
}

header .container > a:hover{
  text-decoration: underline blueviolet 2px;
  color: blueviolet;
  text-underline-offset: 5px;
}

header .container:nth-child(2).active a {
  margin: 10px 0;
  left: 0;
}

header .container:nth-child(2).active a:nth-child(5) {
  margin-bottom: 50px;
}

/* DISPLAY NONE WHEN RESPONSIVE MENU IS ACTIVATED */

header .container:nth-child(2).active .container-extra a {
  display: none;
}

header .container:nth-child(2).active img {
  display: none;
}

/* ---------  MAIN ----------- */

main .section:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.pt-140 {
  padding-top: 140px
}

.pt-20 {
  padding-top: 20px
}

.pb-80 {
  padding-bottom: 80px;
}

.p-20 {
  padding: 20px 0;
}

.h-550 {
  height: 550px;
  max-height: 550px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-10 {
  margin-top: 10px;
}

.text-align-justify {
  text-align: justify;
}

.text-align-center {
  text-align: center;
}

.fs-40 {
  font-size: 40px;
}

.fs-12 {
  font-size: 12px;
}

.mw-600 {
  max-width: 600px;
}

.mw-800 {
  max-width: 800px;
}

.mw-100p {
  max-width: 100%;
}

.h-auto {
  height: auto;
}

.animation-text {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animation-text.active {
  opacity: 1;
  transform: translateY(0);
}

section .container {
  margin: 0 auto;
  padding: 0 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 20px;
}

.text {
  order: 1;
}

.image {
  order: 2;
}

.container-img {
  position: relative;
  max-width: 640px;
  bottom: 125px;
}


@media screen and (max-width: 900px) {
  .container-extra a {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .image {
    display: none;
  }
}

/* FOOTER*/
footer{
  background-color: #111;
}

/* footer .container {
  margin: 0 auto;
  padding: 5px 32px;
} */

.footerContainer{
  width: 100%;
  
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: #111;
  opacity: 0.9;
}

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
  max-width: 100%;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}


.footerBottom{
  background-color: #111;
  padding: 20px;
  text-align: center;
}

.footerBottom p{
  color: white;
}

@media (max-width: 700px){
  footer .container ul{
    flex-direction: column;
  }
  footer .container ul li{
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}
